#header{
  display: flex;
  align-items: center;

  width: 100%;
  height: 4.5rem;

  background: var(--background);
  border-bottom: 2px solid var(--base-border);
}

#header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

#header .logo{
  font: 700  1.3125rem var(--font-title);
  color: var(--color-title);
}

#header .logo span{
  color: var(--base-color);
}

#header .menu{
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top:-100%;
  left: 0;

  width: 100vw;
  height: 100vh;
  background: var(--background);
  gap: 2rem;

  transition: .3s;
}



#header .menu li{
  text-align: center;
}

#header .menu li a:hover{
  color: var(--base-color);
  position: relative;

  transition: .3s;
}

#header .menu li a::after{
  content: '';
  height: 2px;
  width: 0%;
  background: var(--base-color);

  position: absolute;
  bottom: -.875rem;
  left: 0;

  transition: width ease-in-out .2s;
}

#header .menu li a:hover::after{
  width: 100%;
}

#header .icon-menu,
#header .icon-close{
  font-size: 1.5rem;
  color: var(--base-color);
  cursor: pointer;
}

#header .icon-close{
  color: var(--base-color);
  font-size: 1.5rem;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  cursor: pointer;
}

/* Nav Show */
#header nav.show .menu{
  display: fixed;
  top:0;

  transition: .3s;
}

#header nav.show .icon-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  transition:all .3s;
}