@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,700;1,500&display=swap');
/* Reset CSS */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  display: block;
  text-decoration: none;
}

/* Variable */
:root{
  /* Color Master */
  --hue: 159;

  /* Color */
  --background: hsla(0, 0%, 98%, 1);
  --background-alt: hsla(0, 0%, 100%, 1);
  
  --base-color: hsla(var(--hue), 36%, 57%, 1);
  --base-color-alt: hsla(var(--hue), 65%, 88%, 1);
  --base-border: hsla(0, 0%, 89%, 1);
  --base-hover: hsla(var(--hue), 36%, 45%, 1);

  /* Color - Typography */
  --color-title: hsla(var(--hue), 41%, 10%, 1);
  --color-subtitle: hsla(0, 0%, 46%, 1);
  --color-text: hsla(0, 0%, 46%, 1);
  --color-text-light: hsla(0, 0%, 98%, 1);

  /* Font */
  --font-title: Poppins, sans-serif;
  --font-base: 'DM Sans', sans-serif;
}

/* Class Global */
html{
  scroll-behavior: smooth;
}


body{
  height: 100%;
  width: 100%;
  background: var(--background);
}

main{
  margin-top: 5rem;
}

section{
  scroll-margin-top: 4rem;
}

#services{
  scroll-margin-top: 1rem;
}

.button{
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: .875rem 2rem;

  font: 500 1rem var(--font-base);

  background: var(--base-color);
  color: var(--color-text-light);
  border-radius: .25rem;

  transition: ease .25s;
}

.button:hover{
  background: var(--base-hover);
}

.divider{
  height: 1px;
  width: 100%;
  background: linear-gradient(270deg, var(--base-color) 0%, rgba(204, 244, 230, 0.34) 100%);
}

#back-to-top{
  height: 2.875rem;
  width: 2.875rem;
  background: var(--base-color);
  color: var(--background);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 1.875rem;
  right: 2rem;
  visibility: hidden;
  z-index: 300;

  font-size: 1.25rem;
  transition: .25s;
  transform: translateY(100%);
}

#back-to-top:hover{
  background: var(--base-hover);
}

#back-to-top.active{
  visibility: visible;
  transform: translateY(0);
}

/* ==> Layout */
.container{
  padding: 0 1.5rem;
}

.section{
  padding: 5rem 0;
}


/* ==> Typography */
.title{
  font: 700 1.875rem var(--font-title);
  color: var(--color-title);
}

.subtitle{
  font: 400 1rem var(--font-base);
  color: var(--color-subtitle);
  line-height: 1.625rem;
}

.text{
  font: 400 1rem var(--font-base);
  color: var(--color-text);
  line-height: 1.625rem;
}

/* ===> */

@media (min-width:768px){
  .container{  
    padding: 0 6rem;
  }
}

@media (min-width:992px) {
  .container{
    max-width: 853px;
    padding: 0;
    margin: 0 auto;
  }

  html{ font-size: 14px; }
  .section{ padding: 10rem 0; }
  .title{ font-size: 2.25rem; }
  .subtitle{ font-size: 1.125rem; }
  /* .button{ margin: 0; } */
}

@media (min-width:1024px){
  .container{ max-width: 881px; }
}

@media (min-width:1152px){
  .container{ max-width: 847px; }
}


@media (min-width:1280px){
  html{ font-size: 16px; }
  .container{ max-width: 1100px; }
  .section{ padding: 9rem 0; }
}

