#about{
  background: var(--background-alt);
}

#about .image{
  position: relative;
}

#about .image::before{
  content: '';
  width: 100%;
  height: 10rem;

  background: var(--base-color-alt);

  position: absolute;
  top: -8%;
  right: 30%;
}

#about .image img{
  width: 100%;
  height: auto;

  position: relative;
}

#about .image img,
#about .image::before{
  border-radius: .25rem;
}

#about .text .title{
  margin: 2rem 0 1rem;
}

#about .text p+p{
  margin-top: 1rem;;
}

@media (min-width:992px){
  
  #about{
    display: grid;
    grid-template-columns: 40% 60% ;
  }

  #about .image{
    display: block;
    margin: auto 0;
  }

  #about .text .title{
    margin-top: 0;
  }
}

