#contact{
  background: var(--background);
}

#contact .title{
  width: 17rem;
}

#contact .subtitle{
  padding: 1rem 0;
}

#contact .button{
  margin-top: 1rem;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: .875rem;
}

#contact .button span{
  font-size: 1.5rem;
  color: var(--color-text-light);
}

#contact .button p{
  color: var(--color-text-light);
}

#contact ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-top: 3rem;
}

#contact ul li{
  display: flex;
  align-items: center;
  height: 1.5rem;
  /* gap: 2rem; */
}

#contact ul li span{
  margin-right: .875rem;
}

#contact ul .icon-phone,
#contact ul .icon-map-pin,
#contact ul .icon-mail{
  font-size: 1.5rem;
  color: var(--base-color);
}


@media (min-width:992px){
  #contact .container{
    display: flex;
    flex-direction: row;
    column-gap: 15rem;
    align-items: center;
  }

  #contact .column-1,
  #contact .title{
    width: 25rem;
  }

  #contact .subtitle{
    padding-right: 2.5rem;
  }

  #contact .column-2 ul{
    margin-top: -2rem;
  }
}



@media (min-width:1024px){
  #contact .container{  
    column-gap: 12.5rem;
  }
}

@media (min-width:1280px){
  #contact .container{  
    column-gap: 30rem;
  }
}

@media (min-width:1440px){
  #contact .container{  
    column-gap: 20rem;
  }
}
